{% extends '_base.html' %}
{% load home_test %}
{% load static %}
{% load djmoney %}
{% block title %}Beik Travel - Residence{% endblock %}
{% block static%}

<!-- Favicon <link href="img/favicon.ico" rel="icon">-->
<link href="{ static 'img/favicon.ico' }" rel="icon" />
<!-- Libraries Stylesheet -->
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/newstyle.css' %}" rel="stylesheet">

{%endblock%}
{% block body %}

<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            
            <div class="col-lg-9">
                <div class="row pb-3">
                    <div class="col-md-12 mb-4 pb-2">
                        {% for r in residence %}
                        <div class="blog-item d-flex mb-4">
                            <div class="position-relative col-md-3 pl-0">
                                <img class="img-fluid w-100" src="{{ r.logo.url }}" alt="{{ r.name }}">
                                <div class="blog-date">
                                    <i class="fa fa-star gold"></i>
                                    <bold class="font-weight-bold text-white text-uppercase">{{ r.graid_star }}</bold>
                                </div>
                            </div>
                            <div class="bg-white col-md-9">
                                <div class="p-4">
                                    <div class="d-flex justify-content-between mb-3">
                                        <small class="m-0">
                                            <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                            {{ r.city.city }}</small>
                                        <small class="m-0">
                                            <i class="fa fa-calendar-alt text-primary mr-2"></i>
                                            {{ r.buyscore }} Buy Score</small>
                                        <small class="m-0">
                                            <i class="fa fa-user text-primary mr-2"></i>{{ r.capacity }}</small>
                                    </div>
                                    <a class="h5 text-decoration-none" href="">{{ r.name }}</a>
                                    <div class="border-top mt-4 pt-4">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2">
                                                </i>{{ r.userscore }} <small>(250)</small></h6>
                                            <h6 class="m-0">{{ r.type }} </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-lg justify-content-center bg-white mb-0"
                                style="padding: 30px;">
                                {% if residence.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="{% filter_url residence.previous_page_number 'page' request.GET.urlencode %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{% filter_url residence.previous_page_number 'page' request.GET.urlencode %}">
                                        {{ residence.previous_page_number }}
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item active">
                                    <a class="page-link" href="{% filter_url residence.number 'page' request.GET.urlencode %}">
                                        {{ residence.number }}
                                    </a>
                                </li>
                                {% if residence.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{% filter_url residence.next_page_number 'page' request.GET.urlencode %}">
                                        {{ residence.next_page_number }}
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{% filter_url residence.next_page_number 'page' request.GET.urlencode %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 order-lg-first mt-5 mt-lg-0">
                <!-- Author Bio -->
                <div class="d-flex flex-column text-center bg-white mb-5 py-5 px-4">
                    <form action="" method="get">
                        <label for="">City :
                            {{ filter.form.city }}
                        </label><hr>
                        <label for="">Type :
                            {{ filter.form.type }}
                        </label><hr>
                        <label for="">Grade(STARS) :
                            {{ filter.form.graid_star }}
                        </label><hr>
                        <label for="">Sort by Buy Score :
                            {{ filter.form.buyscore }}
                        </label><hr>
                        <label for="">Sort by User Score :
                            {{ filter.form.userscore }}
                        </label><hr>
                        <button type="submit" class="btn btn-danger">Filter</button>
                    </form>
                </div>

                <!-- Search Form -->
                <div class="mb-5">
                    <div class="bg-white" style="padding: 30px;">
                        <div class="input-group">
                            <input type="text" class="form-control p-4" placeholder="Keyword">
                            <div class="input-group-append">
                                <span class="input-group-text bg-primary border-primary text-white"><i
                                        class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Category List -->
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h4>
                    <div class="bg-white" style="padding: 30px;">
                        <ul class="list-inline m-0">
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Tour
                                </a>
                                <span class="badge badge-primary badge-pill">{{ counter.tour }}</span>
                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Residence
                                </a>
                                <span class="badge badge-primary badge-pill">{{ counter.residence }}</span>
                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Airplane
                                </a>
                                <span class="badge badge-primary badge-pill">{{ counter.airplane }}</span>
                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Train
                                </a>
                                <span class="badge badge-primary badge-pill">{{ counter.train }}</span>
                            </li>
                            <li class="mb-3 d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Cruise
                                </a>
                                <span class="badge badge-primary badge-pill">{{ counter.cruise }}</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="#">
                                    <i class="fa fa-angle-right text-primary mr-2"></i>
                                    Bus
                                </a>
                                <span class="badge badge-primary badge-pill">{{ counter.bus }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Recent Post -->
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h4>
                    <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                        <img class="img-fluid" src="img/blog-100x100.jpg" alt="">
                        <div class="pl-3">
                            <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                            <small>Jan 01, 2050</small>
                        </div>
                    </a>
                    <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                        <img class="img-fluid" src="img/blog-100x100.jpg" alt="">
                        <div class="pl-3">
                            <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                            <small>Jan 01, 2050</small>
                        </div>
                    </a>
                    <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                        <img class="img-fluid" src="img/blog-100x100.jpg" alt="">
                        <div class="pl-3">
                            <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                            <small>Jan 01, 2050</small>
                        </div>
                    </a>
                </div>

                <!-- Tag Cloud -->
                <div class="mb-5">
                    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h4>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-light m-1">Travel</a>
                        <a href="" class="btn btn-light m-1">Turism</a>
                        <a href="" class="btn btn-light m-1">Hotel</a>
                        <a href="" class="btn btn-light m-1">Air plan</a>
                        <a href="" class="btn btn-light m-1">Train</a>
                        <a href="" class="btn btn-light m-1">Cruise</a>
                        <a href="" class="btn btn-light m-1">Residence</a>
                        <a href="" class="btn btn-light m-1">Bus</a>
                        <a href="" class="btn btn-light m-1">Tour</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock %}