{% extends '_base.html' %}
{% load static %}
{% load djmoney %}
{% block title %}Beik Travel - Blog{% endblock %}
{% block static%}

    <!-- Favicon <link href="img/favicon.ico" rel="icon">-->
    <link href="{ static 'img/favicon.ico' }" rel="icon"/>
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/newstyle.css' %}" rel="stylesheet">

{%endblock%}
{% block body %}
    
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <!-- Search Form -->
                    <div class="mb-5">
                        <div class="bg-white" style="padding: 30px;">
                            <div class="input-group">
                                <input type="text" class="form-control p-4" placeholder="Keyword">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-primary border-primary text-white"><i
                                            class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Category List -->
                    <div class="mb-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h4>
                        <div class="bg-white" style="padding: 30px;">
                            <ul class="list-inline m-0">
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Tour
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.tour }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Residence
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.residence }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Airplane
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.airplane }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Train
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.train }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Cruise
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.cruise }}</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Bus
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.bus }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <!-- Tag Cloud -->
                    <div class="mb-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h4>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-light m-1">Travel</a>
                            <a href="" class="btn btn-light m-1">Turism</a>
                            <a href="" class="btn btn-light m-1">Hotel</a>
                            <a href="" class="btn btn-light m-1">Air plan</a>
                            <a href="" class="btn btn-light m-1">Train</a>
                            <a href="" class="btn btn-light m-1">Cruise</a>
                            <a href="" class="btn btn-light m-1">Residence</a>
                            <a href="" class="btn btn-light m-1">Bus</a>
                            <a href="" class="btn btn-light m-1">Tour</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row pb-3">
                        {% for a in articles %}
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="blog-item">
                                <div class="position-relative">
                                    <img class="img-fluid w-100 bloglistitem" src="{{ a.img.image.url }}" alt="{{ a.img.title }}">
                                    <div class="blog-date">
                                        <h6 class="font-weight-bold mb-n1">{{ a.create.date.day }}</h6>
                                        <small class="text-white text-uppercase">{{ a.month }}</small>
                                    </div>
                                </div>
                                <div class="bg-white p-4">
                                    <div class="d-flex mb-2">
                                        <a class="text-primary text-uppercase text-decoration-none" href="">{{ a.author.firstname }}</a>
                                        <span class="text-primary px-2">|</span>
                                        <a class="text-primary text-uppercase text-decoration-none" href="">{{ a.author.usertype }}</a>
                                    </div>
                                    <a class="h5 m-0 text-decoration-none" href="{% url 'Blog:blogdetail' a.id %}">{{ a.part.partTitle }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center bg-white mb-0"
                                style="padding: 30px;">
                                {% if articles.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ articles.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ articles.previous_page_number }}">
                                        {{ articles.previous_page_number }}
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ articles.number }}">
                                        {{ articles.number }}
                                    </a>
                                </li>
                                {% if articles.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ articles.next_page_number }}">
                                        {{ articles.next_page_number }}
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ articles.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                                </nav>
                        </div>
                    </div>
                </div>
    
                
            </div>
        </div>
    </div>
    <!-- Blog End -->

    {% endblock %}