{% extends '_base.html' %}
{% load static %}
{% load djmoney %}
{% block title %}Beik Travel - Blog{% endblock %}
{% block static%}

    <!-- Favicon <link href="img/favicon.ico" rel="icon">-->
    <link href="{ static 'img/favicon.ico' }" rel="icon"/>
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/newstyle.css' %}" rel="stylesheet">

{%endblock%}
{% block body %}
    
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-white mb-5 py-5 px-4">
                        {% if myarticle.author.image %}
                        <img src="{{ myarticle.author.image.url }}" alt="{{ myarticle.author.firstname }}" class="img-fluid mx-auto mb-3" style="width: 100px;">
                        {% endif %}
                        <h3 class="text-primary mb-3">{{ myarticle.author.firstname }}</h3>
                        <div class="d-flex justify-content-center">
                            <a class="text-primary px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-primary px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-primary px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-primary px-2" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="text-primary px-2" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
    
                    <!-- Search Form -->
                    <div class="mb-5">
                        <div class="bg-white" style="padding: 30px;">
                            <div class="input-group">
                                <input type="text" class="form-control p-4" placeholder="Keyword">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-primary border-primary text-white"><i
                                            class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Category List -->
                    <div class="mb-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h4>
                        <div class="bg-white" style="padding: 30px;">
                            <ul class="list-inline m-0">
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Tour
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.tour }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Residence
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.residence }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Airplane
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.airplane }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Train
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.train }}</span>
                                </li>
                                <li class="mb-3 d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Cruise
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.cruise }}</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="#">
                                        <i class="fa fa-angle-right text-primary mr-2"></i>
                                        Bus
                                    </a>
                                    <span class="badge badge-primary badge-pill">{{ counter.bus }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <!-- Tag Cloud -->
                    <div class="mb-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h4>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-light m-1">Travel</a>
                            <a href="" class="btn btn-light m-1">Turism</a>
                            <a href="" class="btn btn-light m-1">Hotel</a>
                            <a href="" class="btn btn-light m-1">Air plan</a>
                            <a href="" class="btn btn-light m-1">Train</a>
                            <a href="" class="btn btn-light m-1">Cruise</a>
                            <a href="" class="btn btn-light m-1">Residence</a>
                            <a href="" class="btn btn-light m-1">Bus</a>
                            <a href="" class="btn btn-light m-1">Tour</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <!-- <div class="row"> -->
                        <!-- Blog Detail Start -->
                        <div class="col-lg-12">
                            {% include myarticle.frame %}
                        </div>
                        <!-- Blog Detail End -->
                    <!-- </div> -->
                    <!-- <div class="row"> -->
                        <div class="col-lg-12">
                            <!-- Comment List Start -->
                            <div class="bg-white" style="padding: 30px; margin-bottom: 30px;">
                                <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ comments.count }} Comments</h4>
                                {% for c in comments %}
                                <div class="media mb-4">
                                    {% if c.author.image %}
                                    <img src="{{ c.author.image.url }}" alt="{{ c.author.firstname }}" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    
                                    {% endif %}
                                    <div class="media-body">
                                        <h6><a href="">{{ c.author.firstname }}</a> <small><i>{{ c.datetime_create }}</i></small></h6>
                                        <p>{{ c.body }}</p>
                                        <!-- <button class="btn btn-sm btn-outline-primary">Reply</button> -->
                                    </div>
                                </div>
                                <hr/>
                                {% endfor %}
                            </div>
                            <!-- Comment List End -->
                        </div>
                    <!-- </div> -->
                        
                    {% if user.is_authenticated %}
                    <!-- Comment Form Start -->
                    <div class="bg-white mb-3" style="padding: 30px;">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h4>
                        <form action="{% url 'Blog:comment_create' myarticle.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="rate">Rate *</label>
                                <input name="rate" id="rate" type="number" min="0" max="5" value="0" id="rate">
                            </div>
                            <div class="form-group">
                                <label for="message">Message *</label>
                                <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <input type="submit" value="Leave a comment"
                                    class="btn btn-primary font-weight-semi-bold py-2 px-3">
                            </div>
                        </form>
                    </div>
                    <!-- Comment Form End -->
                    {% endif %}
                </div>
    
                
            </div>
        </div>
    </div>
    <!-- Blog End -->

    {% endblock %}