<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <form method="post" action="{% url 'Home:servicesLoader' %}">
                <div class="row align-items-center" style="min-height: 60px;">
                {% csrf_token %}
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="destination" class="custom-select px-4" style="height: 47px;" >
                                        <option value="Destination" disabled selected>Destination City</option>
                                        {% for d in destinations %}
                                        <option value="{{ d.city }}">{{ d.city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input name="depart" type="date" class="form-control p-4 datetimepicker-input" placeholder="Depart Date"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input name="return" type="date" class="form-control p-4 datetimepicker-input" placeholder="Return Date"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="service" class="custom-select px-4" style="height: 47px;">
                                        <option disabled selected value="0">Service</option>
                                        <option value="tour">Tour</option>
                                        <option value="residence">Residence</option>
                                        <option value="plane">Air plane</option>
                                        <option value="train">Train</option>
                                        <option value="bus">Bus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Booking End -->