<div id="testim" class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
            <h1>What Say Our Clients</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            {% for c in comments %}
            <div class="text-center pb-4">
                {% if c.author.image %}
                <img class="img-fluid mx-auto" src="{{ c.author.image.url }}" alt="{{ c.author.firstname }}" style="width: 100px; height: 100px;" >
                {% endif %}
                <div class="testimonial-text bg-white p-4 mt-n5">
                    <p class="mt-5">{{ c.body }}</p>
                    <h5 class="text-truncate">{{ c.author.firstname }}</h5>
                    <span>{{ c.author.usertype }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>